.container {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  text-align: center;
  margin: 0 auto;
  position: relative;
}

.description {
  max-width: 80ch;
}

.bachelor {
  max-width: 650px;
}
