.container {
  height: 100dvh;
  padding-top: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  text-align: center;
  margin: 0 auto;

  .bilder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .infoTekst {
    max-width: 80ch;
  }
  .prosjektTekst {
    max-width: 80ch;
  }
}
