.container {
  padding-top: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;

  .kontaktTekst {
    max-width: 20ch;
  }
  .kontakt {
    display: flex;
    flex-direction: row;
    gap: 80px;
  }
  .tlf {
    display: flex;
    gap: 15px;
  }
  .epost {
    display: flex;
    gap: 15px;
  }
  .lottieAnim {
    width: 500px;
    height: 500px;
  }
}
